<nav class="navbar" style="background-color: rgb(99, 173, 200);" >
    <div class="container-fluid">
      <a class="navbar-brand ms-4"  href="#">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlXgNnj_MXqYXGTa1jNTMHrGufNsFAInOzBQ&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="nil">  
            Employee Portal
      </a>
      <button *ngIf="logged"  (click)="logout()" class="btn btn-outline-dark">Logout <i class="fa-solid fa-power-off"></i></button>
    </div>

    
</nav>