<div class="d-flex">
    <div class="sidebar d-flex flex-column p-3" style="height: 90vh;width: 250px; background-color: rgb(99, 173, 200);" >
        <a routerLink="/dashboard" class=" ms-3" style="text-decoration: none; color: whitesmoke; margin-top: 20px;">Home</a>
        <a routerLink="/employees" class="ms-3" style="text-decoration: none; color: whitesmoke; margin-top: 20px;">Users</a>
    </div>
    <div class="dashboard p-3" >
        <h2 class="text-info">Welcome,</h2>
    </div>
</div>